// Värimäärittelyt
//
// https://coolors.co/1f3a8a-1eae53-cc2936-2d2d2a-e1e1df. 
$color-primary: #1F3A8A;
$color-secondary: #1EAE53;
$color-warning: #CC2936;
$color-neutral-darkest: #000000;
$color-neutral-darker: #2D2D2A;
$color-neutral-dark: #696963;
$color-neutral: #888881;
$color-neutral-light: #C4C4C0;
$color-neutral-lighter: #E1E1DF;
$color-neutral-lightest: #FFFFFF;